{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">View your Cart...</p>
        </div>
    </div>
</header>
<div class="container">
    {% if cart_products %}
    {% for product in cart_products %}
        <br>
        <div class="card mb-3">
          <div class="row g-0 align-items-center">
            <div class="col-md-4 text-center">
              <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." style="max-height: 200px; object-fit: contain;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-center">{{ product.name }}</h5>
                <p class="card-text text-center">{{ product.description }}</p>
                <div class="text-center">
                  {% if product.is_sale %}
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        &nbsp;&nbsp;Sale&nbsp;&nbsp;
                        <div class="bi-star-fill"></div>
                    </div>
                    <strike>${{ product.price }}</strike>&nbsp;<span class="text-danger">${{ product.sale_price }}</span>
                  {% else %}
                    <span class="text-success">${{ product.price }}</span>
                  {% endif %}
                </div>
                <div class="row justify-content-center mt-3">
                  <div class="col-md-2 text-end">Quantity:</div>
                  <div class="col-md-3">
                    <select class="form-select form-select-sm" id="select{{ product.id }}">
                      <option selected>
                          {% for key, value in quantities.items %}
                              {% if key == product.id|slugify %}
                                {{ value }}
                              {% endif %}
                          {% endfor %}
                      </option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
                <div class="text-center mt-4">
                  <a href="{% url 'home' %}" class="btn btn-secondary me-2">
                      Home
                  </a>
                  <button type="button" data-index="{{ product.id }}" class="btn btn-primary update-cart">
                      Update
                  </button>
                  <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product">
                      Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    {% else %}
    <div class="container text-center">
        <h2>
            There Aren't any products in your cart!!!
        </h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    {% endif %}
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script>
    $(document).on('click', '.update-cart', function(e){
        e.preventDefault();
        var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_update' %}',
            data: {
                product_id: $(this).data('index'),
                product_qty: $('#select' + productid + " option:selected").text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err){
                // Handle error
            }
        });
    });

    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url 'cart_delete' %}',
            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err){
                // Handle error
            }
        });
    });
</script>
{% endblock %}
