{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categories</h1>
            <p class="lead fw-normal text-white-50 mb-0">Explore Our Product Categories</p>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for category in categories %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title text-primary">{{ category }}</h5>
                        <p class="card-text text-muted">Discover the best products in the {{ category }} category.</p>
                        <a href="{% url 'category' category %}" class="btn btn-outline-primary">View Products</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}